@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen+Mono&display=swap");

:root {
  --main-color: #5fbffa;
  --title-color: #db433b;
  --title-font: Poppins, sans-serif;
  --content-font: Poppins, sans-serif;
  --code-font: "Oxygen Mono", monospace;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 1px 1px 2px #7d241f;
  margin-top: 0.5em;
}

h5 {
  margin-bottom: 0.5em;
}

hr {
  border: 1px solid #555;
}

.remark-slide-content {
  background-color: white;
  font-family: var(--content-font);
  font-size: 32px;
  color: #333;
  border-left: 1em solid var(--main-color);
  padding: 1em 2em;
}

.remark-code,
.remark-inline-code,
.code {
  font-family: var(--code-font);
  font-size: 24px;
}

.remark-slide-number {
  font-family: var(--code-font);
  font-size: 16px;
  top: 12px;
}

.left-column {
  width: 49%;
  float: left;
}
.right-column {
  width: 49%;
  float: right;
}

.left-column-33 {
  width: 33%;
  float: left;
}
.right-column-66 {
  width: 66%;
  float: right;
}

.left-column-66 {
  width: 66%;
  float: left;
}

.right-column-33 {
  width: 33%;
  float: right;
}

.codewip {
  width: 84%;
  float: left;
}

.tasklist {
  width: 15%;
  float: right;
  font-size: 0.6em;
}

.tasklist:before {
  content: "TODO:";
  font-weight: bold;
}

.right-column ~ p {
  clear: both;
}
.right-column ~ ul {
  clear: both;
}

.box {
  font-family: var(--code-font);
  margin: 0.5em 0;
  padding: 0.5em;
  padding-left: 1em;
  display: block;
  background: rgba(100, 100, 100, 0.1);
  border-left: 1em solid transparent;
  clear: both;
}

.nice {
  border-left-color: #64a03d;
}

.look {
  border-left-color: #f39745;
}

.what {
  border-left-color: #db433b;
}

.clear {
  clear: both;
}

.top {
  margin-left: -3em;
  margin-top: -1em;
}

.bottom {
  position: fixed;
  max-width: 70%;
  bottom: 1em;
}

.ref {
  font-size: 0.7em;
  color: #db433b;
  vertical-align: super;
}

.footnote {
  font-size: 0.6em !important;
  display: block;
}

.ref:before {
  content: "[";
}

.ref:after {
  content: "]";
}

.big {
  font-size: 1.2em;
}

.large {
  font-size: 2em;
}

.huge {
  font-size: 4em;
}

.small {
  font-size: 0.8em;
}

.theme {
  color: var(--main-color);
}

.red {
  color: #db433b;
}

.green {
  color: #64a03d;
}

.blue {
  color: #3d9cfb;
}

.yellow {
  color: #e7bb43;
}

.emph {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

.bold {
  font-weight: bold;
}

table th,
table td {
  padding: 0em 0.5em;
}

.wide table td {
  padding: 0.5em;
}
